################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/PlutoRover/v15
/PlutoRover.Implementations/obj/Debug
/PlutoRover.Implementations/bin/Debug
/PlutoRover.Tests/obj/Debug
/PlutoRover.Tests/bin/Debug
